@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200,900');

html, body{
  margin: 0;
  padding: 0;
}

body{
    background: #d5d7d9;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    font-family: sans-serif;
    position: fixed;
    width: 100%;
    z-index: 1;
  }
  
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    font-family: sans-serif;
    color:black;

  }
  
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .header a.active {
    background-color: dodgerblue;
    color: white;
  }

a{
  text-decoration: none;
}

a ::after{
  color: rebeccapurple;
}
  
.header-right {
    float: right;
    width: 100%;
    font-family: sans-serif;
  }
  
  .header-right img{
    float: left;
    border-radius: 100%;
  }
  
  .navBar{
    float: right;
  }

 
  
  .verticalMenu{
    width: 290px; /* Set a width if you like */
    float: left;
    margin-top: 100px;
    position: fixed;
  }
  
  .verticalMenu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
    font-family: sans-serif;
    
  }
  
  .verticalMenu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .verticalMenu a.active {
    background-color: dodgerblue; /* Add a green color to the "active/current" link */
    color: white;
  }
  
.container{
     padding: 20px;
    width: 600px;
    margin: 0px auto;
    font-family: Century Gothic;
    opacity: 1;

    
}

.takeToDown{
   margin-top: 85px;
}
.onePost{
  width: 100%;
  background-color: rgb(74, 80, 119);
  margin: -5px auto;
  color:white;
  opacity: 1;
  font-family: Century Gothic;
  padding-top: 1px;

}

.onePost #userIcon{
    border-radius: 100%;
}

.postContainer{
  margin-left: 10px;
  margin-top: 0px;
}

.postContainer img{
  border-radius: 5px;
}

.postHeader{
  width: 40%;
  height: 40px;
  background-color: dodgerblue;
  border-radius: 10px;
  padding: 5px;
  margin-left: 10px;
  margin-top:20px;
  font-weight: bold;
  font-size: 20px;
}
.name{
  width: auto;
  height: 30px;
  background-color: dodgerblue;
  padding: 10px;
  margin-left: 0px;
  margin-top:20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
}

.postContainer{
  font-size: 16px;
}

hr{
  color: white;
}

.usernameClass{
  color: brown;
  font-weight: bold;
  font-family: Century Gothic;
  font-size: 20px;
  position: relative;
  margin-left: 20px;
}
.text{
  position: relative;
  margin-left: 10px;

}
.text2{
  font-family: century gothic;
}

button {

}


button:hover {
  

}

