html,body{
  margin:0;
  padding:0;
  width:100%;
  height:100vh;
  background:url('wb (1).jpg') center;
  background-size: 1720px;


}

* {box-sizing: border-box;}


h1{
font-family: sans-serif;
font-size: 40px;

}
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;

}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  width: 100%;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
.header-right {
    float: none;
  }
}

.header-right img{
  float: left;
  border-radius: 100%;
}

.image{
  margin-left: 40%;

}

#idProfileName{
  float: left;
}

.navBar{
  float: right;
}
.navBar img{
  margin-left: 10px;
}

.text1{
  margin-left: 32%;
  margin-top:0%;

}
h1{
	font-family: sans-serif;
	color: white;
}
p{
	color:dodgerblue;
}
.box{
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 450px;
  background: #fa4f3b opacity;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px black;
  border: 1px solid white;
  color: white;
  padding: 20px;
}
.text{
  font-family: sans-serif;
  text-transform: uppercase;
  position: relative;
  font-size:15px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 20px;
  top:80%;
  left:7%;
}


.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px red;
  
}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  
}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 3px;
  background: #1161ee;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
  transform:scaleX(0);
  transform-origin: left;
  }
  50%
  {
    transform:scaleX(1);
  transform-origin: left;
  }
  50.1%
  {
    transform:scaleX(1);
  transform-origin: right;
    
  }
  
  100%
  {
    transform:scaleX(0);
  transform-origin: right;
    
  }
  
  
} 
.btn1{
   position: absolute;
  top:40%;
  left:50%;
  transform: translate(-50%,-50%);
  
}
.btn2{
   position: absolute;
  top:60%;
  left:50%;
  transform: translate(-50%,-50%);
  
}
button{
background:none;
color:white;
width:240px;
height:80px;
border:1px solid white ;
font-size: 18px;
transition:-6s;
overflow: hidden;
}

button:focus{
  outline: none;
}

button:before{
  content:'';
  display: block;
  position: absolute;
  background:rgba(255,255,255,.5);
  width:60px;
  height:100%;
  left:0;
  top:0;
  opacity: -5s;
  filter: blur(30px);
  transform:translateX(-130px) skewX(-15deg);

}
button:after{
  content: '';
  display: block;
  position: absolute;
  background:rgba(255,255,255,.2);
  width:30px;
  height:100%;
  left:30px;
  top:0;
  opacity: 0;
  filter: blur();
  transform: translate(-100px) scaleX(-15deg);
}

button:hover{
  background:#1161ee;
  cursor: pointer;
  transition: all  1.5s;

}

button:hover:before{
  transform: translate(300px) skewX(-15deg);
  opacity: -6;
  transition: .7s;


}
button:hover:after{
  transform: translate(300px) skewX(-15deg);
  opacity: 1;
  transition: .7s;


}
.text{
  color:white;
}
hr{
  color: white;
}
.btn3{
  position: absolute;
  top:22%;
  left:90%;
  transform: translate(-50%,-50%);
  background-color: #1161ee;
  border: 1px solid #1161ee;

}


.deconstructed {
  position: relative;
  text-align: center;
  margin: auto;
  height: 1em;
  color: transparent;
  font-family: 'Cambay', sans-serif;
  font-size: 3vw;
  font-weight: 700;
  letter-spacing: -0.02em;
  line-height: 1.03em;
  margin-top: 20px;
  text-transform: uppercase;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #2e72e6;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
   -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
   -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}